/* YOUR CUSTOM STYLES */

#id_password {
  margin-bottom: 15px;
}

input#id_remember {
  margin-left: 10px;
  padding: 10px;
  margin-top: 1px\9;
  line-height: normal;
}


.client-deposit {
  border: 1px solid #ececec;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
}

.client-deposit p {
  line-height: 18px;
}

.client-collection {
  border: 1px solid #ececec;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.client-collection p {
  line-height: 18px;
}


.ticket-sheet {
  -webkit-box-shadow: 4px 6px 30px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 30px -8px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 30px -8px rgba(0,0,0,0.75);
}

.ticket-sheet-header {
  background: #ececec;
}

.note.note-success {
    border-left: 4px solid #58d0da;
}

.note.note-info {
    border-left: 4px solid #8bb4e7;
}

.note.note-danger {
    border-left: 4px solid #f0868e;
}

.disabled a {
    color: #e0e0e0 !important;
}

.disabled i {
    color: #e0e0e0 !important;
}

.error {
  color: red;
}

.logo-text>a {
  float: none !important;
  color: white;
  margin-top: 10px;
}

.logo-text small {
  color: #e0e0e0;
}

.logo-text>a:hover {
  color: white;
  text-decoration: initial;
  }

  @media print {
  body * {
    visibility: hidden;
  }
  #print * {
    visibility: visible;
  }
  #print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
