/* YOUR CUSTOM STYLES */

.note.note-success {
    border-left: 4px solid #58d0da;
}

.note.note-info {
    border-left: 4px solid #8bb4e7;
}

.note.note-danger {
    border-left: 4px solid #f0868e;
}

.disabled a {
    color: #e0e0e0 !important;
}

.disabled i {
    color: #e0e0e0 !important;
}

.error {
  color: red;
}

.logo-text>a {
  float: none !important;
  color: white;
  margin-top: 10px;
}

.logo-text small {
  color: #e0e0e0;
}

.logo-text>a:hover {
  color: white;
  text-decoration: initial;
  }
