{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
      <!-- BEGIN PAGE HEADER-->
      <h1 class="page-title"> Autotask Validator</h1>
      <!-- END PAGE HEADER-->

      {% if messages %}
        {% for message in messages %}
          <div class="alert{% if message.tags == 'error' %} alert-danger {% elif message.tags %} alert-{{ message.tags }}"{% endif %}>
            <ul class="messages">
              <p>{{ message }}</p>
            </ul>
          </div>
        {% endfor %}
      {% endif %}

    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Account Details - {{ account.AccountName }}</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-6">
              {% if tickets %}
                  <h6 class="card-header primary-color white-text">All Tickets for Account - <strong>{{ ticket_account_name }}</strong></h6>
                  <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                      <thead class="flip-content">
                          <tr>
                            <th>Ticket Number</th>
                            <th>Ticket Title</th>
                            <th>Account</th>
                            <th>Queue</th>
                          </tr>
                        </thead>
                        {% for n in tickets %}
                        <tr>
                          <td><a href="javascript:void(0);"
                             NAME="My Window Name"
                             title=" My title here "
                             onClick=window.open("https://ww4.autotask.net/autotask/views/ServiceDesk/ServiceDeskTicket/service_ticket.aspx?ticketID={{ n.id }}&mode=0","Ratting","width=950,height=770,0,status=0,");>{{ n.TicketNumber }}</a></td>
                          <td><a href="{% url 'ticket_detail' account.id n.id %}">{{ n.Title }}</a></td>
                          <td>{{ ticket_account_name }}</td>
                          <td>
                            {% for queue_name, queue_id in QUEUE_IDS.items %}
                              {% if n.QueueID == queue_id %}
                                {{ queue_name }}
                              {% endif %}
                            {% endfor %}
                          </td>
                        </tr>
                        {% endfor %}
                      </table>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-4">

                </div>
              </div>
          </div>
        </div>






        <!-- End Portlet -->
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
{% endblock %}
