{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
<script>
$(document).ready(function () {
  $('#create-ticket').validate({ // initialize the plugin
      rules: {
          title: {
              required: true,
          },
          description: {
              required: true,
          },
          duedatetime: {
            required: true,
          },
          estimatedhours: {
            required: true,
          }
      },
      messages: {
        title: {
          required: "You must enter a title",
        },
        description: {
          required: "You must enter a description",
        },
        duedatetime: {
          required: "You must enter a Due Date Time",
        },
        estimatedhours: {
          required: "You must enter an estimated hours",
        },
      },
      // submitHandler: function (form) { // for demo
      //     alert('valid form submitted'); // for demo
      //     return false; // for demo
      // }
  });

});
</script>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">


    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Create New Home User Ticket - {{ ataccount.AccountName }}</span>

        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-8">
            <h6 class="card-header primary-color white-text">Create New Ticket</strong></h6>
            <div class="card-block">
                <form id="create-ticket" action="{% url 'create_home_user_ticket' ataccount.id %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Ticket Title</label>
                        <input type="text" class="form-control" placeholder="Ticket Title" name="Title" id="title" {% if title %} value="{{ title }}">{% endif %}
                  </div>
                  <br>
                  <div class="form-group">
                    <label>Ticket Description</label>
                    <textarea class="form-control" rows="3" placeholder="Enter Ticket Description" name="Description" id="description">{% if description %} {{ description }} {% endif %}</textarea>
                  </div>

                  <label>Ticket Due Date</label>
                  <div class="form-group" data-date-start-date="+0d">
                    <input id="duedatetime" name="duedatetime" class="form-control form-control-inline input-medium date-picker" size="16" type="text" {% if duedatetime %} value="{{ duedatetime }}" {% endif %}></input>
                  </div>

                  <br>
                  <div class="form-group">
                    <label>Ticket Estimated Hours</label>
                        <input type="text" class="form-control" placeholder="Estimated Hours" name="EstimatedHours" id="estimatedhours" {% if estimatedhours %} value="{{ estimatedhours }}" {% endif %}></input>
                  <br>
                  <label>Ticket Priority</label>
                  <select class="form-control priority" name="priority" id="priority">
                    {% for field, value in PRIORITY.items %}
                        <option value="{{ value }}">{{ field }}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <label>Ticket Status</label>
                  <select class="form-control" name="Status" id="status">
                    {% for field, value in STATUS.items %}
                        <option value="{{ value }}">{{ field }}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <label>Ticket Queue</label>
                  <select class="form-control" name="queueid" id="queueid">
                    {% for field, value in QUEUE_IDS.items %}
                      <option value="{{ value }}">{{ field }}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <input type="submit" style="margin-top: 10px;" />
                </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>






        <!-- End Portlet -->
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
{% endblock %}
