{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
      <!-- BEGIN PAGE HEADER-->
      <!-- END PAGE HEADER-->
    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Account Details - {{ ataccount.AccountName }}</span>
        </div>
      </div>
      <div class="portlet-body">
          <form action="{% url 'edit_ataccount' ataccount.id %}" method="post" style="width: 66.67%">
            {% csrf_token %}
            <div class="form-group">
              <label for="account-name">Edit Account Name: </label>
              <input class="form-control" type="text" name="account-name" id="account-name" value="{{ ataccount.AccountName }}"/>
            </div>
            <div class="form-group">
              <label for="address1">Edit Address 1: </label>
              <input class="form-control" type="text" name="address1" id="address1" value="{{ ataccount.Address1 }}"/>
            </div>
            <div class="form-group">
              <label for="">Edit Address 2: </label>
              <input class="form-control" type="text" name="address2" id="address2" value="{{ ataccount.Address2 }}"/>
            </div>
            <div class="form-group">
              <label for="">Edit State: </label>
              <input class="form-control" type="text" name="state" id="state" value="{{ ataccount.State }}" placeholder="Enter a state"/>
            </div>
            <div class="form-group">
              <label for="">Edit City: </label>
              <input class="form-control" type="text" name="city" id="city" value="{{ ataccount.City }}"/>
            </div>
            <div class="form-group">
              <label for="">Edit Postcode: </label>
              <input class="form-control" type="text" name="postcode" id="postcode" value="{{ ataccount.PostalCode }}"/>
            </div>
            <div class="form-group">
              <label for="">Edit Phone: </label>
              <input class="form-control" type="text" name="phone" id="phone" value="{{ ataccount.Phone }}"/>
            </div>
            <label>Account Type</label>
            <select class="form-control">
              {% for field, value in ACCOUNT_TYPES.items %}
                {% if value == ataccount.AccountType %}
                  <option value="{{ value }}" selected>{{ field }}</option>
                {% endif %}
                {% if value != ataccount.AccountType %}
                  <option value="{{ value }}">{{ field }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>
            <input type="submit" style="margin-top: 10px;" />
          </form>
      </div>
    </div>
  </div>
</div>






        <!-- End Portlet -->
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
{% endblock %}
