{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
<div class="container" style="margin-top: 45px;">
  <div class="row">
    <div class="card">
            <h6 class="card-header primary-color white-text">Search Autotask Account</h6>
            <div class="card-block">
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
                <form action="{% url 'index' %}" method="post">
                  {% csrf_token %}
                  <label for="account-name">Account Name: </label>
                  <input type="text" name="account-name" id="account-name" />
                  <br>
                  <input type="submit" style="margin-top: 10px;" />
                </form>
            </div>
      </div>
  </div>
</div>

<div class="row">
  {% if accounts %}
  <div class="col-md-4" style="margin-left: 20px; width: 40%;">
    <div class="card">
            <h6 class="card-header primary-color white-text">Autotask Account Information - <strong>{{ accounts.AccountName }}</strong></h6>
            <div class="card-block">
              <!-- {{ accounts.id }}
              {{ accounts.AccountName }} -->
              {% for field, value in accounts %}
                <p><strong>{{ field }}:</strong> {{ value }}</p>
              {% endfor %}
            </div>
      </div>
  </div>
  {% endif %}
  {% if tickets %}
  <div class="col-md-8" style="margin-right: 20px; width: 50%;">
    <div class="card">
            <h6 class="card-header primary-color white-text">All Tickets for Account - <strong>{{ ticket_account_name }}</strong></h6>
            <div class="card-block">


                <table class="table table-striped">
                  <thead class="">
                    <tr>
                      <th>Ticket Number</th>
                      <th>Ticket Title</th>
                      <th>Account</th>
                      <th>Queue</th>
                    </tr>
                  </thead>
                  {% for n in tickets %}
                  <tr>
                    <td><a href="javascript:void(0);"
                       NAME="My Window Name"
                       title=" My title here "
                       onClick=window.open("https://ww4.autotask.net/autotask/views/ServiceDesk/ServiceDeskTicket/service_ticket.aspx?ticketID={{ n.id }}&mode=0","Ratting","width=950,height=770,0,status=0,");>{{ n.TicketNumber }}</a></td>
                    <td>{{ n.Title }}</td>
                    <td>{{ ticket_account_name }}</td>
                    <td>{{ n.QueueID }}</td>
                  </tr>
                  {% endfor %}
                </table>
              {% endif %}
            </div>
      </div>
  </div>
</div>


{% endblock %}
