{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> Autotask Validator</h1>
        <!-- END PAGE HEADER-->
        <div class="note note-info">
            <p> Welcome to the Autotask Validator, get started by following the instructions below.</p>
        </div>

        {% if messages %}
          {% for message in messages %}
            <div class="alert{% if message.tags == 'error' %} alert-danger {% elif message.tags %} alert-{{ message.tags }}"{% endif %}>
              <ul class="messages">
                <p>{{ message }}</p>
              </ul>
            </div>
          {% endfor %}
        {% endif %}
          <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Let's Get Started {{ step }}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-step">
                    <div class="row step-line">
                      <a href="{% url 'autotask_login' %}">
                        <div class="col-md-4 mt-step-col first {% if step == 1 %} active {% elif step == 2 %} done {% elif step == 3 %} done {% endif %}">
                          <div class="mt-step-number bg-white font-grey">1</div>
                          <div class="mt-step-title uppercase font-grey-cascade">Connect to Autotask</div>
                          <div class="mt-step-content font-grey-cascade">Login with your credentials</div>
                      </div></a>
                        <div class="col-md-4 mt-step-col {% if step == 1 %}  {% elif step == 2 %} active {% else %} done {% endif %}">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Search for An Account</div>
                            <div class="mt-step-content font-grey-cascade">Select an account to interact with</div>
                        </div>
                        <div class="col-md-4 mt-step-col last {% if step == 2 %}  {% elif step == 3 %} active {% elif step == 4 %} done {% endif %}">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Create, Edit, Validate</div>
                            <div class="mt-step-content font-grey-cascade">Create or edit tickets with input validation</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        <div class="portlet light portlet-fit ">
          <div class="portlet-title">
              <div class="caption">
                  <i class=" fa fa-search fa-2x font-green"></i>
                  <span class="caption-subject font-green bold uppercase">Search for an Account</span>
              </div>
          </div>
          <div class="portlet-body form">
              <!-- BEGIN FORM-->
              <form id="search-account" action="{% url 'index' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                  <div class="form-body">
                      <div class="form-group">
                          <label class="col-md-3 control-label">Account</label>
                          <div class="col-md-4">
                              <input type="text" class="form-control input-circle" placeholder="Enter text" id="account-name" name="account-name">
                              <span class="help-block"> You can enter partial account names </span>
                          </div>
                    </div>
                  <div class="form-actions">
                      <div class="row">
                          <div class="col-md-offset-4 col-md-9">
                              <button type="submit" class="btn btn-circle green">Submit</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- END FORM-->
              <div class="container">
                <div class="portlet box green">
                  <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Accounts search results... </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                    </div>
                  </div>
                  <div class="portlet-body flip-scroll" style="padding: 20px;">
                      {% if accounts %}
                      {{ accounts.AccountName }}
                      <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                          <tr>
                            <th>Account Name</th>
                            <th>Account Type</th>
                          </tr>
                        </thead>
                        {% for n in accounts %}
                        <tr>
                          <td><a href="{% url 'account' n.id %}">{{ n.AccountName }}</a></td>
                          <td><a href="{% url 'account' n.id %}">{{ n.AccountType }}</a></td>
                        </tr>
                        {% endfor %}
                      </table>
                      {% endif %}
                    </div>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
{% endblock %}

<!-- <div class="jumbotron m-1 text-xs-center" style="margin-top: -150px;">
    <h4 class="h4-responsive">Search Autotask Account</h4>
    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container" style="max-width: 50%">
      <form class="search-account" id="search-account" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <br><br>
        <input type="text" name="account-name" id="account-name" placeholder="Enter account name..."/>
        <br>
        <input type="submit" style="margin-top: 10px;" />
      </form>
    </div>
  </div>
  <div class="row">
    <div class="card">
      {% if accounts %}
      {{ accounts.AccountName }}
      <table class="table table-striped">
        <thead class="">
          <tr>
            <th>Account Name</th>
            <th>Account Type</th>
          </tr>
        </thead>
        {% for n in accounts %}
        <tr>
          <td><a href="{% url 'account' n.id %}">{{ n.AccountName }}</a></td>
          <td><a href="{% url 'account' n.id %}">{{ n.AccountType }}</a></td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div> -->
