<h1>Search AT Account</h1>
<hr>
<form action="{% url 'index' %}" method="post">
  {% csrf_token %}
  <label for="content"></label>
  <input type="text" name="input-account-id" id="input-account-id" />
  <input type="submit" />
</form>

{% if account_id %}
  {{ account_id }}

{% endif %}

<hr>


{% for field, value in accounts %}
  <p><strong>{{ field }}:</strong> {{ value }}</p>
  <hr>
  {% if field == "AccountName" and value == "test" %}
    <p><strong>Account Name:</strong> {{ value }}</p>
  {% endif %}
  {% if field == "id" %}
    <p><strong>Account ID:</strong> {{ value }}</p>
  {% endif %}
{% endfor %}

<hr>

{% for field, value in tickets %}
  <p><strong>{{ field }}:</strong> {{ value }}</p>
{% endfor %}
