{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
      <!-- BEGIN PAGE HEADER-->
      <h1 class="page-title">Ticket Detail</h1>
      <!-- END PAGE HEADER-->

      {% if messages %}
        {% for message in messages %}
          <div class="alert{% if message.tags == 'error' %} alert-danger {% elif message.tags %} alert-{{ message.tags }}"{% endif %}>
            <ul class="messages">
              <p>{{ message }}</p>
            </ul>
          </div>
        {% endfor %}
      {% endif %}

    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Account - {{ account.AccountName }}</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card-block">
              <strong>{{ account.AccountName }}</strong><br>
              {{ account.Address1 }}<br>
              {{ account.Address2 }}<br>
              {{ account.City }}<br>
              {{ account.PostalCode }}<br>
              {{ account.Phone }}<br>
            </div>
          </div>
          <div class="col-md-4">
            <strong>{{ contact.FirstName }} {{ contact.LastName }}</strong><br>
            {{ contact.Phone }}<br>
            <a href="mailto:{{ contact.EMailAddress }}">{{ contact.EMailAddress }}</a><br>
          </div>
          <div class="col-md-4">
            <strong>FIRST RESPONSE</strong><br>
            {{ ticket.FirstResponseDateTime }}<br>
            <br>
            <strong>LAST ACTIVITY</strong><br>
            {{ ticket.LastActivityDate }}
          </div>
        </div>
      </div>
    </div>

    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Ticket - {{ ticket.TicketNumber }} - {{ ticket.Title }}</span>
        </div>
      </div>
      <div class="portlet-body">
        Created by {{ resource.FirstName }} {{ resource.LastName }} on {{ ticket.CreateDate }}
      </div>
    </div>

    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Ticket Description</span>
        </div>
      </div>
      <div class="portlet-body">
        {{ ticket.Description }}
      </div>
    </div>

    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Ticket Details</span>
        </div>
      </div>
      <div class="portlet-body">
        {% for key, value in STATUS.items %}
          {% if ticket.Status == value %}
            <strong>Status:</strong> {{ key }}<br>
          {% endif %}
        {% endfor %}
        {% for key, value in PRIORITY.items %}
          {% if ticket.Priority == value %}
            <strong>Priority:</strong> {{ key }}<br>
          {% endif %}
        {% endfor %}
        {% for key, value in TICKET_SOURCES.items %}
          {% if ticket.Source == value %}
            <strong>Source:</strong> {{ key }}<br>
          {% endif %}
        {% endfor %}
        <strong>Estimated Hours:</strong> {{ ticket.EstimatedHours }}<br>

        {% for key, value in QUEUE_IDS.items %}
          {% if ticket.QueueID == value %}
            <strong>Queue:</strong> {{ key }}<br>
          {% endif %}
        {% endfor %}
        <strong>Primary Resource:</strong> {{ assigned_resource.FirstName }} {{ assigned_resource.LastName }} {{ assigned_resource }}<br>
        {% for key, value in RESOURCE_ROLES.items %}
          {% if ticket.AssignedResourceRoleID == value %}
          <strong>Primary Resource Role:</strong> {{ key }}<br>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Ticket - {{ ticket.Title }}</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card-block">
              {{ ticket }}
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </div>






        <!-- End Portlet -->
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
{% endblock %}
