{% extends 'account/account_base.html' %}
{% load staticfiles %}
{% load account_tags %}
{% load i18n %}
{% block account_page %}

        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
                <h3 class="form-title">Email Confirmed</h3>
                <div class="create-account">
                    <p> {% blocktrans with email=confirmation.email_address.email %}Thank you.<br>
                      <br>
                      You have confirmed <b>{{ email }}</b>{% endblocktrans %}.</p>
                      <hr>
                        <a href="{{ success_url }}" class="btn grey-salsa btn-outline"> Go Back </a>
                    </p>
                </div>
            <!-- END LOGIN FORM -->
        </div>
        <!-- END LOGIN -->
{% endblock %}
