{% extends 'base.html' %}
{% load staticfiles %}
{% load account_tags %}
{% load i18n %}
{% block page %}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet ">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="{% static 'img/avatar.png' %}" class="img-responsive" alt=""> </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> {{ user.profile.first_name }} {{ user.profile.last_name }}</div>
                                        {% if customer.has_active_subscription and customer.current_subscription.plan == "extended" %}
                                        <div class="profile-usertitle-job"> Eye-Tech IT </div>
                                        {% endif %}
                                        {% if not customer.current_subscription.plan == "extended" %}
                                          <br>
                                        {% endif %}
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    {% if customer.has_active_subscription and customer.current_subscription.plan == "extended" %}
                                    <div class="profile-userbuttons">
                                        <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                        <button type="button" class="btn btn-circle red btn-sm">Message</button>
                                        <br>
                                        <br>
                                    </div>
                                    {% endif %}
                                    <!-- END SIDEBAR BUTTONS -->
                                </div>
                                <!-- END PORTLET MAIN -->
                                <!-- PORTLET MAIN -->
                                <div class="portlet light ">
                                    <!-- STAT -->
                                    {% if customer.has_active_subscription and customer.current_subscription.plan == "extended" %}
                                    <div class="row list-separated profile-stat">
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 37 </div>
                                            <div class="uppercase profile-stat-text"> Projects </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 51 </div>
                                            <div class="uppercase profile-stat-text"> Tasks </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 61 </div>
                                            <div class="uppercase profile-stat-text"> Uploads </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!-- END STAT -->
                                    <div>
                                        <h4 class="profile-desc-title">About {{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
                                        <span class="profile-desc-text"> {% if profile.about %} {{ profile.about }} {% else %} You have not entered a bio. {% endif %}</span>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-globe"></i>
                                            <a href="http://www.studiointhecloud.co.uk">www.studiointhecloud.co.uk</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-twitter"></i>
                                            <a href="http://www.twitter.com/cloud_studio/">@cloud_studio</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-facebook"></i>
                                            <a href="https://www.facebook.com/studiointhecloud/">studiointhecloud</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PORTLET MAIN -->
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
      <!-- BEGIN PROFILE CONTENT -->
      <div class="profile-content">
        {% if customer.has_active_subscription and customer.current_subscription.plan == "extended" %}
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                  <div class="visual">
                      <i class="fa fa-shopping-cart"></i>
                  </div>
                  <div class="details">
                      <div class="number">
                          <span data-counter="counterup" data-value="{{ upsells }}">{{ upsells }}</span>
                      </div>
                      <div class="desc"> Products Sold </div>
                  </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                  <div class="visual">
                      <i class="fa fa-bar-chart-o"></i>
                  </div>
                  <div class="details">
                      <div class="number">
                          £<span data-counter="counterup" data-value="{{ total_revenue }}">{{ total_revenue }}</span></div>
                      <div class="desc"> Total Revenue </div>
                  </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                  <div class="visual">
                      <i class="fa fa-comments"></i>
                  </div>
                  <div class="details">
                      <div class="number">
                          £<span data-counter="counterup" data-value="{{ total_profit }}">{{ total_profit }}</span>
                      </div>
                      <div class="desc"> Total Profit </div>
                  </div>
              </a>
            </div>
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number"> +
                            <span data-counter="counterup" data-value="89">89</span>% </div>
                        <div class="desc"> Brand Popularity </div>
                    </div>
                </a>
        </div>
        {% endif %}
          <div class="row">
              <div class="col-md-12">
                  <div class="portlet light ">
                      <div class="portlet-title tabbable-line">
                          <div class="caption caption-md">
                              <i class="icon-globe theme-font hide"></i>
                              <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                          </div>
                          <ul class="nav nav-tabs">
                              <li class="active">
                                  <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                              </li>
                              {% if customer.has_active_subscription and customer.current_subscription.plan == "extended" %}
                              <li class="disabled">
                                  <!-- <a href="#tab_1_2" data-toggle="tab">Change Avatar</a> -->
                                  <a href="#" data-toggle="tab">Change Avatar</a>
                              </li>
                              <li class="disabled">
                                  <!-- <a href="#tab_1_3" data-toggle="tab">Change Password</a> -->
                                  <a href="#" data-toggle="tab">Change Password</a>
                              </li>
                              {% endif %}
                          </ul>
                      </div>
                      <div class="portlet-body">
                          <div class="tab-content">
                              <!-- PERSONAL INFO TAB -->
                              <div class="tab-pane active" id="tab_1_1">
                                  <form role="form" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="editprofile" value="editprofile">
                                      <div class="form-group">
                                          <label class="control-label">First Name</label>
                                          <input name="profile-firstname" type="text" placeholder="John" class="form-control" value="{{ user.profile.first_name }}"/> </div>
                                      <div class="form-group">
                                          <label class="control-label">Last Name</label>
                                          <input name="profile-lastname" type="text" placeholder="Doe" class="form-control" value="{{ user.profile.last_name }}" /> </div>
                                      <div class="form-group">
                                          <label class="control-label">About</label>
                                          <textarea name="profile-about" class="form-control" rows="3" placeholder="Enter a short description of yourself..." value="{{ user.profile.about }}"></textarea>
                                      </div>
                                      <div class="margiv-top-10">
                                        <input type="submit" class="btn green" />
                                      </div>
                                  </form>
                              </div>
                              <!-- END PERSONAL INFO TAB -->
                              <!-- CHANGE AVATAR TAB -->
                              <div class="tab-pane" id="tab_1_2">
                                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                      eiusmod. </p>
                                  <form action="#" role="form">
                                      <div class="form-group">
                                          <div class="fileinput fileinput-new" data-provides="fileinput">
                                              <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                  <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                              <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                              <div>
                                                  <span class="btn default btn-file">
                                                      <span class="fileinput-new"> Select image </span>
                                                      <span class="fileinput-exists"> Change </span>
                                                      <input type="file" name="..."> </span>
                                                  <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                              </div>
                                          </div>
                                          <div class="clearfix margin-top-10">
                                              <span class="label label-danger">NOTE! </span>
                                              <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                          </div>
                                      </div>
                                      <div class="margin-top-10">
                                          <a href="javascript:;" class="btn green"> Submit </a>
                                          <a href="javascript:;" class="btn default"> Cancel </a>
                                      </div>
                                  </form>
                              </div>
                              <!-- END CHANGE AVATAR TAB -->
                              <!-- CHANGE PASSWORD TAB -->
                              <div class="tab-pane" id="tab_1_3">
                                  <form action="#">
                                      <div class="form-group">
                                          <label class="control-label">Current Password</label>
                                          <input type="password" class="form-control" /> </div>
                                      <div class="form-group">
                                          <label class="control-label">New Password</label>
                                          <input type="password" class="form-control" /> </div>
                                      <div class="form-group">
                                          <label class="control-label">Re-type New Password</label>
                                          <input type="password" class="form-control" /> </div>
                                      <div class="margin-top-10">
                                          <a href="javascript:;" class="btn green"> Change Password </a>
                                          <a href="javascript:;" class="btn default"> Cancel </a>
                                      </div>
                                  </form>
                              </div>
                              <!-- END CHANGE PASSWORD TAB -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- END PROFILE CONTENT -->
      <!-- BEGIN AUTOTASK CONTENT -->
      <div class="profile-content">
          <div class="row">
              <div class="col-md-12">
                  <div class="portlet light ">
                      <div class="portlet-title tabbable-line">
                          <div class="caption caption-md">
                              <i class="icon-globe theme-font hide"></i>
                              <span class="caption-subject font-blue-madison bold uppercase">Configure Autotask</span>
                          </div>
                          <ul class="nav nav-tabs">
                              <li class="active">
                                  <a href="#tab_2_1" data-toggle="tab">Autotask Credentials</a>
                              </li>
                              <li>
                                  <a href="#tab_2_2" data-toggle="tab">Picklist Module</a>
                              </li>
                          </ul>
                      </div>
                      <div class="portlet-body">
                          <div class="tab-content">
                              <!-- PERSONAL INFO TAB -->
                              <div class="tab-pane active" id="tab_2_1">
                                <form class="form-horizontal margin-bottom-40" role="form" method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="autotasklogin" value="autotasklogin">
                                  <div class="form-group form-md-line-input">
                                      <label for="inputEmail12" class="col-md-2 control-label">Username</label>
                                      <div class="col-md-4">
                                          <div class="input-icon">
                                              <input type="email" class="form-control" placeholder="Autotask Username..." id="username" name="username">
                                              <div class="form-control-focus"> </div>
                                              <i class="fa fa-envelope-o"></i>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group form-md-line-input">
                                      <label for="inputPassword1" class="col-md-2 control-label">Password</label>
                                      <div class="col-md-4">
                                          <div class="input-icon">
                                              <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                                              <div class="form-control-focus"> </div>
                                              <i class="fa fa-key"></i>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn green" />
                                      </div>
                                  </div>
                              </form>
                              </div>
                              <!-- END PERSONAL INFO TAB -->
                              <!-- CHANGE AVATAR TAB -->
                              <div class="tab-pane" id="tab_2_2">
                                <a class="btn green" href="{% url 'create_picklist_database' %}">Create Picklist Module</a>
                              </div>
                              <!-- END CHANGE AVATAR TAB -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- END AUTOTASK CONTENT -->
      </div>
      </div>
      </div>
      <!-- END CONTENT BODY -->
      </div>
      <!-- END CONTENT -->

      <!-- END QUICK SIDEBAR -->
      <!-- END CONTAINER -->

{% endblock %}
